{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

	<div class="box">
		<h2 class="title">Semiocoder : Encoder UI for Semionet</h2>
		<p class="paragraphStyle1">
			<b>Version:</b> 2.0<br>
			<br>© Copyleft équipe <strong>ESCoM</strong> {% now "Y" %}.  
			<br>Visitez <a href="http://www.semionet.com" title="www.semionet.com">www.semionet.com</a> <br>
			<br>Ce produit a été développé par :
			<br><strong>Vincent Dupont</strong> <br>
			<br>Avec l'aide des technologies suivantes :<br><br>
            	- <a title="Python" href=""><img src="{{ STATIC_URL }}img/logos/python-powered-w-70x28.png" alt="Python" /></a><br>
            	- Django<br>
            	- <a title="Celery" href=""><img src="{{ STATIC_URL }}img/logos/celery.png" alt="Celery" /></a><br>
            	- RabbitMQ

		</p>
	</div>

{% endblock %}

