{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

	<div class="box">
		<h2>Semiocoder : Encoder UI for Semionet</h2>
		<p>
			<b>Version:</b> 2.0<br>
			<br>© Copyleft équipe <strong>ESCoM</strong> {% now "Y" %}.  
			<br>Visitez <a href="http://www.semionet.com" title="www.semionet.com">www.semionet.com</a> <br>
			<br>Ce produit a été développé par :
			<br><strong>Vincent Dupont</strong> <br>
			<br>Avec l'aide des technologies suivantes :<br>
            	- Python<br>
            	- Django<br>
            	- Celery<br>
            	- RabbitMQ

		</p>
	</div>

{% endblock %}

