{% extends "base.html" %}

{% block title %}Contactez-nous{% endblock %}

{% block content %}

	<div class="box">
		<h2>Contactez-nous</h2>
		<p>
			<b>Adresse postale :</b><br>
			Maison des Sciences de l'Homme<br>
			ESCoM 
			(Equipe Sémiotique Cognitive et Nouveaux Médias)
			<br><br>
			Prof. Peter Stockinger<br>
			54 boulevard Raspail<br>
			75006 Paris<br>
			France<br><br>
			
			<b>Téléphone :</b><br>
			+33 (1) 49 54 26 24 <br> +33 (1) 49 54 26 30<br><br>
			
			<b>Fax :</b><br>
			+33 (1) 49 54 21 83 
		</p>
	</div>

{% endblock %}
