{% extends "base.html" %}

{% block title %}Recherche{% endblock %}

{% block content %}
	<div class="box">
		<h2 class="title">Rechercher</h2>
        <form id="start"  action="." method="POST">
        	<p>
	            <label for="q">Mots clés : </label>
	            <input type="text" name="q" value="{{ query|escape }}">
	        </p>
            <p>
            	<input type="submit" value="Rechercher">
            </p>
        </form>
        
          {% if query %}
              <h2>Results for "{{ query|escape }}":</h2>
                {% if results %}
                  <ul>
                  {% for job in results %}
                        <li>{{ job|escape }}</li>
                  {% endfor %}
                  </ul>
                {% else %}
                  <p>Aucun résultat trouvé</p>
                {% endif %}
          {% endif %}
          
	</div>
{% endblock %}
