{% extends "base.html" %}

{% block title %}Recherche{% endblock %}

{% block content %}
	<div class="box">
		
		<div class="search_form">
			<h2 class="title">Rechercher</h2>
	        <form id="start"  action="." method="POST">
	        	{% csrf_token %}
	        	<p>
		            <label for="q">Mots clés : </label>
		            <input type="text" name="q" value="{{ query|escape }}">
		        </p>
	            <p>
	            	<input type="submit" value="Rechercher">
	            </p>
	        </form>
        </div>
        
        <div class="result">
          {% if query %}
              <h2>Résultats pour "{{ query|escape }}":</h2>
                {% if results %}
                  <ul>
                  {% for result in results %}
                        <li><a href="{{ result.get_absolute_url }}">{{ result }}</a></li>
                  {% endfor %}
                  </ul>
                {% else %}
                  <p>Aucun résultat trouvé</p>
                {% endif %}
          {% endif %}
       </div>
	</div>
{% endblock %}
