{% extends "base.html" %}

{% block title %}Confirmation de suppression{% endblock %}

{% block breadcrumbs %}<a href="{% url home %}">Accueil</a> › 

	{% if element == 'task' %}
		<a href="{% url tasks %}">Mes taches</a>
	{% else %}{% if element == 'job' %}
		<a href="{% url jobs %}">Mes jobs</a>
	{% else %}{% if element == 'joblist' %}
		<a href="{% url joblists %}">Mes joblists</a>
	{% endif %}{% endif %}{% endif %}

 › Confirmation de suppression "{{ obj }}"

{% endblock %}

{% block content %}

	<div class="box">

        <form action="" method="post">
        	<h1>Supprimer {{ obj }} ?</h1>
        	{% csrf_token %}
		    <p>
			    <input type="hidden" name="post" value="yes" />
		    </p>
		    <p>
				<input type="submit" value="Supprimer" /> ou <a href="..">annuler</a>
			</p>
    	</form>
	</div>

{% endblock %}

