{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheet %}
	{% if element == 'task' %}
    	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/smoothness/jquery-ui-1.8.22.custom.css"/>
    {% endif %}
{% endblock %}

{% block scripts %}
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
	<script type="text/javascript">
		jQuery.validator.addMethod(
			  "regex",
			   function(value, element, regexp) {
			       if (regexp.constructor != RegExp)
			          regexp = new RegExp(regexp,"g");
			       else if (regexp.global)
			          regexp.lastIndex = 0;
			          return this.optional(element) || regexp.test(value);
			   },"options non conformes"
			);
	    jQuery(document).ready(function() {
	    	   jQuery("#start").validate({
	    	      rules: {
	    	         "name":{
	    	            "required": true,
	    	         },
	    	         "encoder":{
		    	     	"required": true,
		    	     },
		    	     "options":{
			    	    "required": true,
			    	    "regex": /^(\d|\w|[- '"])*$/,
		    	     },
		    	     "extension":{
			    	    "required": true,
		    	     },
		    	     "job":{
			    	    "required": true,
		    	     },
		    	     "joblist":{
			    	    "required": true,
		    	     },
		    	     "schedule":{
			    	    "required": true,
		    	     },
	    	      },
	    	      errorElement: "div",
	    	  })
	    	});
	    jQuery.extend(jQuery.validator.messages, {
	    	required: "ce champs est requis",
	    });
		
    </script>

	{% if element == 'task' %}
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.22.custom.min.js"></script>
	    
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
	    <script type="text/javascript">    
	    $(function() {
	        $( "#id_schedule" ).datetimepicker({ minDate: 0, dateFormat : "dd/mm/yy", });
	    });
	    </script>
    {% endif %}
{% endblock %}


{% block breadcrumbs %}<a href="{% url home %}">Accueil</a> › 

	{% if element == 'task' %}
		<a href="{% url tasks %}">Mes taches</a>
	{% else %}{% if element == 'job' %}
		<a href="{% url jobs %}">Mes jobs</a>
	{% else %}{% if element == 'joblist' %}
		<a href="{% url joblists %}">Mes joblists</a>
	{% endif %}{% endif %}{% endif %}

 › Ajout d'un element

{% endblock %}


{% block content %}

	<div class="box">
	{% if form.is_multipart %}
    	<form enctype="multipart/form-data" id="start" action="{{ action }}" method="post">
	{% else %}
	    <form id="start" action="{{ action }}" method="post">
	{% endif %}
		<h1>{{ title }}</h1>
		
		{% csrf_token %}

		{% for field in form %}
        <p>
            
            {{ field.label_tag }} {{ field }} {{ field.help_text }}
            <div>{{ field.errors.0 }}</div>
        </p>
    	{% endfor %}

		<p>
			<input type="submit" value="Envoyer" /> ou <a href=".">annuler</a>
		</p>
	</form>
		
	</div>
	
{% endblock %}

