{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheet %}
	{% if element == 'task' %}
    	<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui/smoothness/jquery-ui-1.8.22.custom.css"/>
    {% endif %}
{% endblock %}

{% block scripts %}
	
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.js"></script>
	<script type="text/javascript">    
	    jQuery(document).ready(function() {
	    	   jQuery("#myform").validate({
	    	      rules: {
	    	         "name":{
	    	            "required": true,
	    	         },
	    	         "encoder":{
		    	     	"required": true,
		    	     },
		    	     "options":{
			    	    "required": true,
		    	     },
		    	     "extension":{
			    	    "required": true,
		    	     },
		    	     "job":{
			    	    "required": true,
		    	     },
		    	     "joblist":{
			    	    "required": true,
		    	     },
		    	     "schedule":{
			    	    "required": true,
		    	     },
		    	     "source_file":{
			    	    "required": true,
		    	     },
	    	      }
	    	  })
	    	});
	    jQuery.extend(jQuery.validator.messages, {
	    	required: "ce champs est requis",
	    });
		
    </script>

	{% if element == 'task' %}
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.22.custom.min.js"></script>
	    
	    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-timepicker-addon.js"></script>
	    <script type="text/javascript">    
	    $(function() {
	        $( "#id_schedule" ).datetimepicker({ minDate: 0, dateFormat : "dd/mm/yy", });
	    });
	    </script>
    {% endif %}
{% endblock %}


{% block content %}

	<div class="box">
		<h2>{{ title }}</h2>
		<div class="addLink"><span>* Champs requis</span></div>
		{% if form.is_multipart %}
		    <form enctype="multipart/form-data" id="myform" action="{{ action }}" method="post">
		{% else %}
		    <form id="myform" action="{{ action }}" method="post">
		{% endif %}

				{% csrf_token %}

				{{ form.as_p }}
				
				<input type="submit" value="Envoyer" />
			</form>
	</div>
	
{% endblock %}

