{% extends "base.html" %}

{% block title %}Detail du job : {{ object.name }}{% endblock %}

{% block content %}

	<div class="box">
		<h2 class="title">Detail du job : {{ object.name }}</h2>

		<ul>
		    <li class="first"><span>Description : {{ object.description }}</span></li>
		    <li><span>Créé le : {{ object.created_on }}</span></li>
		    <li><span>Modifié le : {{ object.modified_on }}</span></li>
		    <li><span>Encodeur : {{ object.encoder.name }}</span></li>
		    <li><span>Options : {{ object.options }}</span></li>
		    <li class="last"><span>Extension : {{ object.extension }}</span></li>
		</ul>
		
		<p>
			<a class="submit" href="{% url job_edit id %}">Editer</a><a class="submit" href="{% url job_delete id %}">Supprimer</a>
		</p>

	</div>

{% endblock %}
