{% extends "base.html" %}

{% block title %}Mes joblists{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="/static/js/jquery.jstree.js"></script>
	<script type="text/javascript">
	
	$(function () {
	
	
	    $("#joblist_tree").jstree({ 
	        "plugins" : [ "themes" , "json_data", "search" , "adv_search" , "types",  "sort" ],
	        "core" : { 
	            "animation" : 150,
	            "html_titles" : true,
	        },
	        "themes" : {
	            "theme" : "classic",
	            "dots" : false,
	        },
	        "search" : {
	            "case_insensitive" : true,
	            "ajax" : {
	                "url" : "/assets/search{% if divisions %}?divisions={{ divisions_str }}{% endif %}"
	            }
	        },
		"types" : {
	            "max_depth" : -2,
	            "max_children" : -2,
	            "valid_children" : [ "joblist" ],
	            "types" : {
	                "joblist" : {
                		"icon" : {
	                			"image" : '/static/img/joblist.png',
	                		},
	                    "class" : "joblist-row",
	                    "valid_children" : [ "job" ],
	                    "max_depth" : 4,
	                    "open_node"   : true,
	                    "close_node"  : true,
	                },
	                "job" : {
	                	"icon" : {
                			"image" : '/static/img/job.png',
                		},
	                    "valid_children" : [ "job_detail" ],
	                    "max_depth" : 3,
	                    "open_node"   : true,
	                    "close_node"  : true
	                },
	                "job_detail" : {
	                	"icon" : {
                			"image" : '/static/img/settings.gif',
                		},
	                    "valid_children" : "none",
	                    "max_depth" : 0,
	                    "select_node" : false,
	                    "open_node"   : false,
	                    "close_node"  : false,
	                    "create_node" : false,
	                    "delete_node" : false
	                },
	            }
	        },
	        "json_data" : {
	            "data" : [
	                {% for j in joblist_list %}
	                {
	                    "data" : { "title" : "<b>{{ j.name }}</b><i> - (créé par {{ j.owner }})</i>", "attr" : { "href" : "{% url joblist_detail j.id %}" } },
	                    
	                    {% if forloop.first %} 
	                    	"attr" : { "id" : "_{{ j.id }}", "rel" : "joblist", "class" : "joblist-row first" },
	                    {% else %}{% if forloop.last %} 
	                    	"attr" : { "id" : "_{{ j.id }}", "rel" : "joblist", "class" : "joblist-row last" },
	                    {% else %}
	                    	"attr" : { "id" : "_{{ j.id }}", "rel" : "joblist", "class" : "joblist-row" }, 
	          			{% endif %}{% endif %}

	                    "state" : "closed"
	                },
	                {% endfor %}
	            ],
	            "ajax" : {
	                "url" : function(node) { 
	                    var url = "/encoding/joblist/data";
	                    url += node.attr ? node.attr("id").replace(/_/g, "/") : "";
	                    return url; 
	                }
	            }
	        }
	    });
	});
	
	</script>
{% endblock %}


{% block content %}

<div class="box">
	<h2 class="title">Mes joblists</h2>
	<div class="addLink"><a href="{% url joblist_add %}" title="">Ajouter une joblist</a></div>
	<div id="joblist_tree"></div>

	
</div>
{% endblock %}

