{% extends "base.html" %}

{% block title %}Mes joblists{% endblock %}

{% block content %}

	<div class="box">
		<h2 class="title">Detail du joblist : {{ object.name }}</h2>

		<ul>
		    <li>Description : {{ object.description }}</li>
		    <li>Créé le : {{ object.created_on }}</li>
		    <li>Modifié le : {{ object.modified_on }}</li>
		    <li>Jobs : {{ object.job.select_related|join:", " }}</li>
		</ul>

		<a href="{% url joblist_edit id %}">Editer</a>&nbsp;-&nbsp;<a href="{% url joblist_delete id %}">Supprimer</a>
	</div>

{% endblock %}
