{% extends "base.html" %}

{% block title %}Output files{% endblock %}

{% block breadcrumbs %}<a href="{% url home %}">Accueil</a> › <a href="{% url task_history %}">Historique des taches</a> › Fichiers généres{% endblock %}


{% block content %}

<div class="box">
	<h2 class="title">Fichiers généres</h2>
	<form action="{% url task_output th.id %}" method="post">
		<h1>Télécharger ou supprimer ?</h1>
		{% csrf_token %}
		
		{% for outputfile in outputfiles %}
			<p>
				<input type="checkbox" name="outputfiles" value="{{ MEDIA_URL }}videos/{{ th.outputdir }}/{{ outputfile }}" id="id_outputfiles_{{ forloop.counter0 }}" />
				<span><a href="{{ MEDIA_URL }}videos/{{ th.outputdir }}/{{ outputfile }}">{{ outputfile }}</a></span>
			</p> 
		{% endfor %}
		
	<input type="submit" value="Delete" />
	</form>
</div>
{% endblock %}
