{% extends "base.html" %}

{% block title %}Mes taches{% endblock %}

{% block breadcrumbs %}<a href="..">Accueil</a> › Mes taches{% endblock %}

{% block stylesheet %} 
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui/smoothness/jquery-ui-1.8.22.custom.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dataTables/jquery.dataTables_themeroller.css" />
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.timers.js"></script>
	<script type="text/javascript">
	var oTable;
	$(document).ready(function() {
		oTable = $('#task_table').dataTable( {
			"bJQueryUI": true,
	        "sPaginationType": "full_numbers",
			"bProcessing": true,
			"bServerSide": true,
			"sAjaxSource": "{% url task_data %}",
			"aoColumns": [
			               { "sWidth": "15%" },
			               { "sWidth": "15%", sClass: "alignCenter", },
			               { "sWidth": "30%", sClass: "alignCenter", },
			               { "sWidth": "10%", sClass: "alignCenter", },
			               { "sWidth": "10%", sClass: "alignCenter", },
			               { "sWidth": "10%", sClass: "alignCenter", },
			               { "sWidth": "10%", sClass: "alignCenter", },
			             ]
		} );
	} );
	
	$(document).everyTime(20000, function() {
		oTable.fnDraw();
		});
	
	</script>
{% endblock %}


{% block content %}

<div class="box">
	<div class="addLink"><a href="{% url task_add %}" title="">Ajouter une tache</a></div>
<table id="task_table">
    <thead>
	<tr>
		<th>tache</th>
	    <th>joblist</th>
	    <th>planification</th>
	    <th>état</th>
	    <th>notif.</th>
	    <th>editer</th>
	    <th>supp.</th>
	</tr>
    </thead>
    <tbody>

    </tbody>
</table>
</div>

{% endblock %}

