{% extends "base.html" %}

{% block title %}Detail du task : {{ object.joblist.name }}{% endblock %}

{% block breadcrumbs %}<a href="..">Accueil</a> › <a href=".">Mes taches</a> › Detail de la tache "{{ object.joblist.name }}"{% endblock %}

{% block content %}

	<div class="box">

		<ul>
		    <li class="first"><span>Planification : {{ object.schedule }}</span></li>
		    <li>Etat : {% if object.state == 'W' %} waiting {% else %}
		    			{% if object.state == 'P' %} pending {% else %}
		    			{% if object.state == 'R' %} running {% else %}
		    			{% endif %}{% endif %}{% endif %}
		    </span></li>
		    <li><span>Fichier source : {{ object.source_file }}</span></li>
		    <li><span>Jobs en sortie : {{ object.joblist.job.select_related|length }}</span></li>
		    <li class="last"><span>Notification  : {{ object.notify  }}</span></li>
		</ul>

		{% if object.state == 'W' %}
		<p>
			<a class="submit" href="{% url task_edit id %}">Editer</a><a class="submit" href="{% url task_delete id %}">Supprimer</a>
		</p>
		{% endif %}
	</div>

{% endblock %}
