{% extends "base.html" %}

{% block title %}A propos{% endblock %}

{% block breadcrumbs %}<a href="..">Accueil</a> › A propos{% endblock %}


{% block content %}

	<div class="box">
		
		<p class="paragraphStyle1">
			<h2>Semiocoder : Encoder UI for Semionet</h2>
			<b>Version:</b> 1.0<br>
			<br>© Copyleft équipe <strong>ESCoM</strong> {% now "Y" %}.  
			<br>Visitez <a href="http://www.semionet.com" title="www.semionet.com">www.semionet.com</a> <br>
			<br>Ce produit a été développé par :
			<br><strong>Vincent Dupont</strong> <br>
			<br>Avec l'aide des technologies suivantes :<br><br><br>
			
			<table id="logo_table">
				<tr>
					<td class="top left"><a title="www.python.org" href="http://www.python.org/"><img src="{{ STATIC_URL }}img/logos/python-powered-w-100x40.png" alt="Python" /></a></td>
					<td class="top right"><a title="www.djangoproject.com" href="https://www.djangoproject.com/"><img src="{{ STATIC_URL }}img/logos/django-logo-positive-100x35.png" alt="Django" /></a></td>
				</tr>
				<tr>
					<td class="middle left"><a title="www.rabbitmq.com" href="http://www.rabbitmq.com/"><img src="{{ STATIC_URL }}img/logos/rabbitmq_logo_strap-166x35.png" alt="RabbitMQ" /></a></td>
					<td class="middle right"><a title="jquery.com" href="http://jquery.com/"><img src="{{ STATIC_URL }}img/logos/jquery_logo_162x40.png" alt="jQuery" /></a></td>
				</tr>
				<tr>
					<td colspan=2 class="bottom"><a title="celeryproject.org" href="http://celeryproject.org/"><img src="{{ STATIC_URL }}img/logos/celery.png" alt="Celery" /></a></td>
				</tr>
			</table> 

		</p>
	</div>

{% endblock %}

